<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/5f5a0693-6466-40ce-b6d4-50a034775e70/resourcegroups/Pruebas/providers/Microsoft.Web/sites/Web202309190307</ResourceId>
    <ResourceGroup>Pruebas</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://web202309190307.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d7287d08-4231-4498-8eea-dda20ef5a1f7</ProjectGuid>
    <PublishUrl>https://web202309190307.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Web202309190307</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>